.footer{
  display: flex;
  align-items: center;
  height: 100px;
  background-color: #eb4b98;
  width: 100%;
}
.footer a{
  color: white;
  cursor: pointer;
  font-size: 14px;
  padding-left: 30px;
  text-decoration: none;
}
.footer a:hover{
  text-decoration: underline;
  color: #00a7e1;
}